.firstbtn1 {
    background-image: linear-gradient(
      to right,
      rgb(231, 120, 138),
      rgb(62, 177, 223)
    );
    font-size: 25px !important;
    color: rgb(255, 255, 255) !important;
  }
  .firstbtn2 {
    background-image: linear-gradient(
      to right,
      rgb(205, 120, 231),
      rgb(62, 177, 223)
    );
    font-size: 25px !important;
    color: rgb(255, 255, 255) !important;
  }